aiohttp==3.11.15
duckduckgo_search==7.4.3
firecrawl_py==1.12.0
loguru==0.7.3
pydash==8.0.5
python-dotenv==1.1.0
Requests==2.32.3
smolagents==1.9.2
uvicorn==0.34.0

# forked version for web3-ethereum-defi that works with windows as well
git+https://github.com/rexdotsh/ethash.git@master
web3-ethereum-defi==0.28.1
safe-eth-py==6.0.0b42 # prerelease, so need to specify

# might need to fork latest one and fix, causes issues with `requests` version
spaceandtime==1.1.17
apify-client==1.9.2
tenacity==8.5.0
mcp==1.6.0

# indirect deps
fastapi==0.115.12
psycopg2==2.9.10
openai==1.71.0
scikit-learn==1.6.1
tiktoken==0.9.0
